:host /deep/
.info-box {
	height: auto !important;
	
	.info-box-text
	{
		max-width: 100% !important;
		min-width: 50%;
		overflow: inherit !important;;
	}
	
	.select-box.labeled {
		padding: 13px 31px 0px 7px !important;
	}
}

:host /deep/
.info-box-text div div
{
	overflow:inherit !important;
}