<terra-base-toolbar>
    <terra-button
        [inputIsDisabled]="isLoading"
        [inputIcon]="'icon-save'"
        (outputClicked)="saveSettings()">
    </terra-button>
</terra-base-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7">
            <terra-portlet [inputPortletHeader]="'legalInformation.title' | translate:lang">
                <terra-select-box
                    #shopIdSelect
                    [inputListBoxValues]="_languages"
                    [(ngModel)]="_selectedLanguage"
                    [inputName]="'legalInformation.language' | translate:lang"
                    (outputValueChanged)="setLegalInformationForLanguage()"
                >
                </terra-select-box>
                <terra-text-area-input 
                    [inputName]="'legalInformation.text' | translate:lang"
                    [(ngModel)]="values[_selectedLanguage]"
                    [inputMaxRows]="26">
                </terra-text-area-input>
            </terra-portlet>
        </div>
    </div>
</div>