<div style="margin: 15px 5px 5px 0px;">
	<div class="spacer">
		<div class="col-xs-12">
			<etsy-toolbar breadcrumbs="Etsy > {{'authentication' | translate:lang}}" [isLoading]="isLoading"></etsy-toolbar>

			<br>

			<div *ngIf="isAuthenticated === null" class="alert alert-warning">{{'checkingLoginStatus' | translate:lang}}</div>
			<div *ngIf="isAuthenticated === true" class="alert alert-success">{{'alreadyAuthenticated' | translate:lang}}</div>
			<div *ngIf="isAuthenticated === false" class="alert alert-danger">{{'notAuthenticated' | translate:lang}}</div>

			<terra-button
					[inputIsLarge]="true"
					[inputIsDisabled]="isLoading"
					inputCaption="{{'loginToEtsy' | translate:lang}}"
					inputIcon="icon-visibility_private"
					(outputClicked)="openLoginPopup()"></terra-button>
		</div>
	</div>
</div>

