<terra-base-toolbar>
    <terra-button
        [inputIsDisabled]="_isLoading"
        [inputIcon]="'icon-save'"
        (outputClicked)="onSaveBtnClicked()"></terra-button>
    
    <terra-button [inputIcon]="'icon-add'"
                  [inputIsTertiary]="true"
                  [inputTooltipText]="'addCorrelation' | translate:lang"
                  [inputTooltipPlacement]="'right'"
                  (outputClicked)="addCorrelation()"></terra-button>
</terra-base-toolbar>


<div class="terra-view" *ngIf="!_isLoading">
    <terra-multi-split-view [inputConfig]="_editSplitViewConfig" [inputShowBreadcrumbs]="true"></terra-multi-split-view>
</div>