<terra-base-toolbar [inputIsSticky]="true">
    <terra-button [inputIsDisabled]="_isLoading"
                  [inputIcon]="'icon-add'"
                  [inputIsTertiary]="true"
                  [inputTooltipText]="'shippingProfiles.tooltips.addCorrelation' | translate:lang"
                  [inputTooltipPlacement]="'right'"
                  (outputClicked)="addCorrelation()"></terra-button>
    
    <terra-button [inputIsDisabled]="_isLoading"
                  [inputIcon]="'icon-save'"
                  (outputClicked)="onSaveBtnClicked()"></terra-button>
</terra-base-toolbar>


<div class="terra-view" *ngIf="!_isLoading">
    <terra-multi-split-view [inputConfig]="_editSplitViewConfig" [inputShowBreadcrumbs]="true"></terra-multi-split-view>
</div>