<div class="container-fluid">
    <div class="row">
        <template ngFor let-propertyCorrelation [ngForOf]="propertyCorrelations">
            <div class="col-xs-12" [ngClass]="{'col-md-6 col-lg-3': _isFocused}">
                <terra-info-box [inputIsSelected]="propertyCorrelation.property.id && propertyCorrelation.property.id === _selectedPropertyCorrelation?.property.id && propertyCorrelation.systemProperty.id === _selectedPropertyCorrelation?.systemProperty.id">
                    <div body style="white-space: initial">
                        {{ 'properties.list.systemProperty' | translate:lang }}: <br><b [innerHtml]="propertyCorrelation.systemProperty.groupName + ' » ' + propertyCorrelation.systemProperty.name"></b>
                        <br><br>
                        {{ 'properties.list.property' | translate:lang }}: <br><b [innerHtml]="propertyCorrelation.property.groupName + ' » ' + propertyCorrelation.property.name"></b>
                    </div>
                    <div buttons>
                        <terra-button [inputIcon]="'icon-category_edit'"
                                      (outputClicked)="editCorrelation(propertyCorrelation)"
                                      [inputTooltipText]="'properties.list.buttons.edit' | translate:lang"
                                      [inputTooltipPlacement]="'bottom'"
                                      [inputIsPrimary]="true"></terra-button>
                        <terra-button [inputIcon]="'icon-delete'"
                                      [inputTooltipText]="'properties.list.buttons.delete' | translate:lang"
                                      [inputTooltipPlacement]="'bottom'"
                                      [inputIsDisabled]="propertyCorrelation.property.id && propertyCorrelation.property.id === _selectedPropertyCorrelation?.property.id && propertyCorrelation.systemProperty.id === _selectedPropertyCorrelation?.systemProperty.id"
                                      (outputClicked)="onDeleteBtnClicked(propertyCorrelation)"
                                      [inputIsSecondary]="true"></terra-button>
                    
                    </div>
                </terra-info-box>
            </div>
        </template>
    </div>
</div>
