.btn-toolbar
{
    margin-left: 0 !important;
}

table.table
{
  thead
  {
    background: $brand-primary;
    color: white;
    tr
    {
      th
      {
        border: 1px solid white;
        border-top: 1px solid $brand-primary;
        border-bottom: 1px solid $brand-primary;
        padding: 1rem .5rem;
        &:first-child
        {
          border-left: 1px solid $brand-primary;
        }
        &:last-child
        {
          border-right: 1px solid $brand-primary;
        }
      }
    }
  }
  tbody
  {
    tr
    {
      td
      {
        padding: .5rem;
        vertical-align: middle;
        input
        {
          border: 1px solid darken($gray-light-3, 20%);
          padding: .2rem .5rem;
        }

        .btn-handler {
          margin-left: -22px;
        }
      }
    }
  }
}