<div style="margin: 15px 5px 5px 0px;">
	<div class="spacer">
		<div class="col-xs-12">
			<terra-base-toolbar>
				Etsy > Taxonomy Correlations

				<terra-button
						[inputIsLarge]="true"
						inputIcon="icon-reload"
						[inputIsSmall]="true"
						[inputIsAlignRight]="true"
						(outputClicked)="reload()"></terra-button>
			</terra-base-toolbar>
			<br>
			<h5>Taxonomy Correlations</h5>
			<hr>
			<terra-base-toolbar>
				<div class="btn-group" role="group">
					<terra-button [inputIsDisabled]="isLoading"
								  inputIcon="icon-confirm"
								  inputCaption="Save"
								  (outputClicked)="saveCorrelations()"></terra-button>
				</div>
			</terra-base-toolbar>

			<terra-pager [inputPagingSize]="pagingSize" [inputDefaultPagingSize]="defaultPagingSize" [inputPagingData]="pagingData"
						 (outputDoPaging)="doPaging($event)"></terra-pager>

			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped table-bordered" style="overflow-x: visible">
						<thead>
						<tr>
							<th>Category</th>
							<th>Etsy Taxonomy</th>
						</tr>
						</thead>
						<tbody>
						<template ngFor let-row [ngForOf]="categories">
							<tr>
								<td>
									{{ row.name }}
								</td>
								<td>
									<input type="hidden" [(ngModel)]="row.taxonomyId">

									<terra-number-input
											inputName="{{ getTaxonomyName(row.taxonomyId) }}"
											[(ngModel)]="row.taxonomyId"></terra-number-input>
									<terra-button
											[inputIsSmall]="true"
											inputIcon="icon-search"
											(outputClicked)="openTaxonomiesOverlay(row)"
											inputCaption="Search"></terra-button>
								</td>
							</tr>
						</template>
						</tbody>
					</table>

					<terra-overlay
							#viewTaxonomiesOverlay
							inputOverlayTitle="Showcase overlay with secondary button"
							[inputHasPrimaryButton]="true"
							(outputPrimaryButtonClicked)="updateTaxonomy($event)"
						   [inputIsSmall]="true">
						<terra-tree #tree [inputLeafList]="taxonomiesList"></terra-tree>
					</terra-overlay>
				</div>
			</div>
		</div>
	</div>
</div>
