<div style="margin: 15px 5px 5px 0px;">
	<div class="spacer">
		<div class="col-xs-12">
			<etsy-toolbar breadcrumbs="Etsy > {{'taxonomyCorrelations' | translate:lang}}" [isLoading]="isLoading"></etsy-toolbar>

			<br>
			<terra-base-toolbar>
				<div class="btn-group" role="group">
					<terra-button [inputIsDisabled]="isLoading"
								  inputIcon="icon-confirm"
								  inputCaption="{{'save' | translate:lang}}"
								  (outputClicked)="saveCorrelations()"></terra-button>
				</div>
			</terra-base-toolbar>

			<terra-pager [inputPagingSize]="pagingSize"
						 [inputDefaultPagingSize]="defaultPagingSize"
						 [inputPagingData]="pagingData"
						 (outputDoPaging)="doPaging($event)"></terra-pager>

			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped table-bordered" style="overflow-x: visible">
						<thead>
						<tr>
							<th>{{'category' | translate:lang}}</th>
							<th>{{'taxonomy' | translate:lang}}</th>
						</tr>
						</thead>
						<tbody>
						<template ngFor let-row [ngForOf]="categories">
							<tr>
								<td>
									{{ row.name }}
								</td>
								<td>
									<input type="hidden" [(ngModel)]="row.taxonomyId">

									<terra-number-input
											inputName="{{ getTaxonomyName(row.taxonomyId) }}"
											[inputDisabled]="isLoading"
											[(ngModel)]="row.taxonomyId"></terra-number-input>
									<terra-button
											[inputIsDisabled]="isLoading"
											[inputIsSmall]="true"
											inputIcon="icon-search"
											(outputClicked)="openTaxonomiesOverlay(row)"
											inputCaption="{{'search' | translate:lang}}"></terra-button>
								</td>
							</tr>
						</template>
						</tbody>
					</table>

					<terra-overlay
							#viewTaxonomiesOverlay
							inputOverlayTitle=" "
							[inputHasPrimaryButton]="true"
							(outputPrimaryButtonClicked)="updateTaxonomy($event)"
						   	[inputIsSmall]="true">
						<terra-tree #tree [inputLeafList]="taxonomiesList"></terra-tree>
					</terra-overlay>
				</div>
			</div>
		</div>
	</div>
</div>
