<div style="margin: 15px 5px 5px 0px;">
    <div class="spacer">
        <div class="col-xs-12">
            <terra-base-toolbar>
                <div class="btn-group" role="group">
                    <terra-button [inputIsDisabled]="isLoading"
                                  inputTooltipText="{{ 'save' | translate:lang }}" inputTooltipPlacement="bottom"
                                  inputIcon="icon-save"
                                  (outputClicked)="saveCorrelations()"></terra-button>
                    
                    <terra-button inputIcon="icon-add"
                                  inputTooltipText="{{ 'addCorrelation' | translate:lang }}" inputTooltipPlacement="bottom"
                                  [inputIsDisabled]="isLoading"
                                  (outputClicked)="addCorrelation()"></terra-button>
                    
                    <terra-button inputIcon="icon-delete"
                                  inputTooltipText="{{ 'delete' | translate:lang }}" inputTooltipPlacement="bottom"
                                  [inputIsDisabled]="isLoading"
                                  (outputClicked)="deleteCorrelations()"></terra-button>
                    
                    <terra-button [inputIsDisabled]="isLoading"
                                  inputIcon="icon-download"
                                  (outputClicked)="import()"
                                  inputTooltipText="{{ 'importEtsyShippingProfiles' | translate:lang }}"
                                  inputTooltipPlacement="bottom"></terra-button>
                
                </div>
            </terra-base-toolbar>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered" style="overflow-x: visible">
                        <thead>
                        <tr>
                            <th style="width: 25px"></th>
                            <th>{{'parcelServicePreset' | translate:lang}}</th>
                            <th colspan="2">{{'etsyShippingProfile' | translate:lang}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template ngFor let-row [ngForOf]="shippingProfileCorrelationList">
                            <tr>
                                <td>
                                    <terra-checkbox [(value)]="row.selected"></terra-checkbox>
                                </td>
                                <td>
									<terra-select-box
											[inputListBoxValues]="row.listParcelServicePresets"
											[(ngModel)]="row.parcelServicePresetId">
									</terra-select-box>
                                </td>
                                <td>

									<terra-select-box
											[inputListBoxValues]="row.listShippingProfileSettings"
											[(ngModel)]="row.settingsId">
									</terra-select-box>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
