:host /deep/
.info-box {
    height: auto !important;
    
    .info-box-text
    {
        max-width: 100% !important;
        min-width: 50%;
        
    }
}

:host /deep/
.info-box-text div div
{
    overflow:inherit !important;
}