.multiselect-container {
  .multiselect-element {
    border: inherit;

    .multiselect {
      .option-list {
        height: auto;
      }

      .btn-group--all {
        display: none;
      }
    }
  }
}