<div style="margin: 15px 5px 5px 0px;">
	<div class="spacer">
		<div class="col-lg-12">
			<terra-base-toolbar>
				<div class="btn-group" role="group">
					<terra-button
							[inputIsDisabled]="isLoading"
							inputTooltipText="{{ 'save' | translate:lang }}" inputTooltipPlacement="bottom"
							inputIcon="icon-save"
							(outputClicked)="saveSettings()"></terra-button>
				</div>
			</terra-base-toolbar>

			<br>
			<terra-portlet inputPortletHeader="{{'settings' | translate:lang}}">
				<div class="row">
					<div class="col-lg-6">
						<terra-select-box
								[inputIsDisabled]="isLoading"
								[inputListBoxValues]="_availableShops"
								[(inputSelectedValue)]="settings.shop.shopId"
								inputName="{{'shopId' | translate:lang}}">
						</terra-select-box>

						<div class="multiselect-container">
							<terra-multi-select-box [inputValueList]="exportLanguages"
													[(inputSelectedValueList)]="exportLanguagesBinding"
													inputName="{{'exportLanguages' | translate:lang}}"></terra-multi-select-box>
						</div>
					</div>

					<div class="col-lg-6">
						<terra-select-box
								[inputIsDisabled]="isLoading"
								[inputListBoxValues]="availableLanguages"
								[(inputSelectedValue)]="settings.shop.mainLanguage"
								inputName="{{'mainShopLanguage' | translate:lang}}"></terra-select-box>

						<div class="multiselect-container">
							<terra-multi-select-box [inputValueList]="processes"
													[(inputSelectedValueList)]="processesBinding"
													inputName="{{'processes' | translate:lang}}"></terra-multi-select-box>
						</div>
					</div>
				</div>
			</terra-portlet>
		</div>
	</div>
</div>