<div style="margin: 15px 5px 5px 0px;">
	<div class="spacer">
		<div class="col-lg-12">
			<terra-base-toolbar>
				<div class="btn-group" role="group">
					<terra-button
							[inputIsSmall]="true"
							[inputIsDisabled]="isLoading"
							inputCaption="{{'save' | translate:lang}}"
							inputIcon="icon-confirm"
							(outputClicked)="saveSettings()"></terra-button>
				</div>
			</terra-base-toolbar>

			<br>
			<h6>{{'shopSettings' | translate:lang}}</h6>
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<terra-text-input
							[inputIsDisabled]="isLoading"
							inputName="{{'shopId' | translate:lang}}"
							[(ngModel)]="settings.shop.shopId"></terra-text-input>

					<label>{{'exportLanguages' | translate:lang}}</label>
					<terra-multi-select-box
							[inputValueList]="exportLanguages"
							[inputIsDisabled]="false"
							[inputIsError]="false"></terra-multi-select-box>
				</div>
				<div class="col-lg-6">
					<terra-select-box
							[inputDisabled]="isLoading"
							[inputListBoxValues]="availableLanguages"
							[(inputSelectedValue)]="settings.shop.mainLanguage"
							inputName="{{'mainShopLanguage' | translate:lang}}"></terra-select-box>

					<label>{{'processes' | translate:lang}}</label>
					<terra-multi-select-box
							[inputValueList]="processes"
							[inputIsDisabled]="false"
							[inputIsError]="false"></terra-multi-select-box>
				</div>
			</div>

			<h6>{{'paymentSettings' | translate:lang}}</h6>
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<terra-text-input
							inputName="{{'paymentMethodName' | translate:lang}}"
							[inputIsDisabled]="isLoading"
							[(ngModel)]="settings.payment.name"></terra-text-input>
				</div>
			</div>
		</div>
	</div>
</div>