<div style="margin: 15px 5px 5px 0px;">
    <div class="spacer">
        <div class="col-lg-12">
            <terra-base-toolbar>
                <div class="btn-group" role="group">
                    <terra-button
                        [inputIsDisabled]="isLoading"
                        inputTooltipText="{{ 'save' | translate:lang }}" inputTooltipPlacement="bottom"
                        inputIcon="icon-save"
                        (outputClicked)="saveSettings()"></terra-button>
                </div>
            </terra-base-toolbar>
            
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <!--
                    <terra-select-box
                            [inputDisabled]="isLoading"
                            [inputListBoxValues]="availableShops"
                            [(inputSelectedValue)]="settings.shop.shopId"
                            inputName="{{'shopId' | translate:lang}}"></terra-select-box> -->
                    
                    <terra-text-input
                        [inputIsDisabled]="isLoading"
                        inputName="{{'shopId' | translate:lang}}"
                        [(ngModel)]="settings.shop.shopId"
                        inputTooltipText="{{ getShopList() }}"
                        inputTooltipPlacement="bottom"></terra-text-input>
                    
                    <label>{{'exportLanguages' | translate:lang}}</label>
                    
                    <div class="multiselect-container">
                        <div class="multiselect-element">
                            <div class="multiselect">
                                <div class="option-list">
                                    <template ngFor let-row [ngForOf]="exportLanguages">
                                        <div>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <terra-checkbox [(value)]="row.selected"></terra-checkbox>
                                                </div>
                                                <label class="form-control">{{ row.caption }}</label>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <terra-select-box
                        [inputIsDisabled]="isLoading"
                        [inputListBoxValues]="availableLanguages"
                        [(inputSelectedValue)]="settings.shop.mainLanguage"
                        inputName="{{'mainShopLanguage' | translate:lang}}"></terra-select-box>
                    
                    <label>{{'processes' | translate:lang}}</label>
                    <div class="multiselect-container">
                        <div class="multiselect-element">
                            <div class="multiselect">
                                <div class="option-list">
                                    <template ngFor let-row [ngForOf]="processes">
                                        <div>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <terra-checkbox [(value)]="row.selected"></terra-checkbox>
                                                </div>
                                                <label class="form-control">{{ row.caption }}</label>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>